@font-face {
    font-family: 'Vazir';
    src: url(vazir_font/Vazir.eot);
    src: url(vazir_font/Vazir.eot?#iefix) format('embedded-opentype'),
    url(vazir_font/Vazir.otf) format('otf'),
    url(vazir_font/Vazir.ttf) format('truetype'),
    url(vazir_font/Vazir.woff) format('woff'),
    url(vazir_font/Vazir.woff2) format('woff2');
}

@font-face {
    font-family: 'Iranian_Sans';
    src: url(iransans/Iranian_Sans.eot);
    src: url(iransans/Iranian_Sans.eot?#iefix) format('embedded-opentype'),
    url(iransans/Iranian_Sans.woff) format('woff'),
    url(iransans/Iranian_Sans.woff2) format('woff2'),
    url(iransans/Iranian_Sans.ttf) format('truetype');
}
.roozbeh{
    font-family: 'Iranian_Sans', sans-serif;
}
body{
    font-family: 'Iranian_Sans', sans-serif ;
}
* {
    font-family: 'Iranian_Sans',sans-serif;
}
